examples/.eslintrc
examples/composer.json
examples/CONTRIBUTING.md
examples/drupalci.yml
examples/examples.info.yml
examples/examples.libraries.yml
examples/examples.module
examples/LICENSE.txt
examples/phpcs.xml.dist
examples/README.md
examples/STANDARDS.md
examples/TESTING.md
examples/css/examples.icons.css
examples/images/100x30.svg
examples/images/examples.svg
examples/modules/ajax_example/ajax_example.info.yml
examples/modules/ajax_example/ajax_example.libraries.yml
examples/modules/ajax_example/ajax_example.links.menu.yml
examples/modules/ajax_example/ajax_example.module
examples/modules/ajax_example/ajax_example.routing.yml
examples/modules/ajax_example/css/ajax-example-base.css
examples/modules/ajax_example/js/ajax-example.js
examples/modules/ajax_example/src/Controller/AjaxExampleController.php
examples/modules/ajax_example/src/Form/Autotextfields.php
examples/modules/ajax_example/src/Form/DependentDropdown.php
examples/modules/ajax_example/src/Form/DynamicFormSections.php
examples/modules/ajax_example/src/Form/EntityAutocomplete.php
examples/modules/ajax_example/src/Form/Simplest.php
examples/modules/ajax_example/src/Form/SubmitDriven.php
examples/modules/ajax_example/src/Form/Wizard.php
examples/modules/ajax_example/templates/description.html.twig
examples/modules/ajax_example/tests/src/Functional/AjaxExampleMenuTest.php
examples/modules/ajax_example/tests/src/Functional/DependentDropdownTest.php
examples/modules/ajax_example/tests/src/Functional/DynamicFormSectionsTest.php
examples/modules/ajax_example/tests/src/FunctionalJavascript/AjaxWizardTest.php
examples/modules/ajax_example/tests/src/FunctionalJavascript/AutotextfieldsTest.php
examples/modules/ajax_example/tests/src/FunctionalJavascript/DependentDropdownTest.php
examples/modules/ajax_example/tests/src/FunctionalJavascript/DynamicFormSectionsTest.php
examples/modules/ajax_example/tests/src/FunctionalJavascript/EntityAutocompleteTest.php
examples/modules/ajax_example/tests/src/FunctionalJavascript/SimplestTest.php
examples/modules/ajax_example/tests/src/FunctionalJavascript/SubmitDrivenTest.php
examples/modules/batch_example/batch_example.info.yml
examples/modules/batch_example/batch_example.install
examples/modules/batch_example/batch_example.links.menu.yml
examples/modules/batch_example/batch_example.module
examples/modules/batch_example/batch_example.routing.yml
examples/modules/batch_example/src/Form/BatchExampleForm.php
examples/modules/batch_example/tests/src/Functional/BatchExampleWebTest.php
examples/modules/block_example/block_example.info.yml
examples/modules/block_example/block_example.links.menu.yml
examples/modules/block_example/block_example.module
examples/modules/block_example/block_example.routing.yml
examples/modules/block_example/config/schema/block_example.schema.yml
examples/modules/block_example/src/Controller/BlockExampleController.php
examples/modules/block_example/src/Plugin/Block/ExampleConfigurableTextBlock.php
examples/modules/block_example/src/Plugin/Block/ExampleEmptyBlock.php
examples/modules/block_example/src/Plugin/Block/ExampleUppercaseBlock.php
examples/modules/block_example/templates/description.html.twig
examples/modules/block_example/tests/src/Functional/BlockExampleMenuTest.php
examples/modules/block_example/tests/src/Functional/BlockExampleTest.php
examples/modules/cache_example/cache_example.info.yml
examples/modules/cache_example/cache_example.links.menu.yml
examples/modules/cache_example/cache_example.module
examples/modules/cache_example/cache_example.routing.yml
examples/modules/cache_example/src/Form/CacheExampleForm.php
examples/modules/cache_example/tests/src/Functional/CacheExampleTest.php
examples/modules/config_entity_example/config_entity_example.info.yml
examples/modules/config_entity_example/config_entity_example.links.action.yml
examples/modules/config_entity_example/config_entity_example.links.menu.yml
examples/modules/config_entity_example/config_entity_example.module
examples/modules/config_entity_example/config_entity_example.permissions.yml
examples/modules/config_entity_example/config_entity_example.routing.yml
examples/modules/config_entity_example/config/install/config_entity_example.robot.marvin.yml
examples/modules/config_entity_example/config/schema/config_entity_example.schema.yml
examples/modules/config_entity_example/src/RobotAccessController.php
examples/modules/config_entity_example/src/Controller/RobotListBuilder.php
examples/modules/config_entity_example/src/Entity/Robot.php
examples/modules/config_entity_example/src/Form/RobotAddForm.php
examples/modules/config_entity_example/src/Form/RobotDeleteForm.php
examples/modules/config_entity_example/src/Form/RobotEditForm.php
examples/modules/config_entity_example/src/Form/RobotFormBase.php
examples/modules/config_entity_example/templates/description.html.twig
examples/modules/config_entity_example/tests/src/Functional/ConfigEntityExampleTest.php
examples/modules/config_entity_example/tests/src/Functional/RobotReferenceTest.php
examples/modules/content_entity_example/content_entity_example.info.yml
examples/modules/content_entity_example/content_entity_example.links.action.yml
examples/modules/content_entity_example/content_entity_example.links.menu.yml
examples/modules/content_entity_example/content_entity_example.links.task.yml
examples/modules/content_entity_example/content_entity_example.module
examples/modules/content_entity_example/content_entity_example.permissions.yml
examples/modules/content_entity_example/content_entity_example.routing.yml
examples/modules/content_entity_example/src/ContactAccessControlHandler.php
examples/modules/content_entity_example/src/ContactInterface.php
examples/modules/content_entity_example/src/Entity/Contact.php
examples/modules/content_entity_example/src/Entity/Controller/ContactListBuilder.php
examples/modules/content_entity_example/src/Form/ContactDeleteForm.php
examples/modules/content_entity_example/src/Form/ContactForm.php
examples/modules/content_entity_example/src/Form/ContactSettingsForm.php
examples/modules/content_entity_example/tests/src/Functional/ContentEntityExampleTest.php
examples/modules/content_entity_example/tests/src/Kernel/ContactTest.php
examples/modules/cron_example/cron_example.info.yml
examples/modules/cron_example/cron_example.links.menu.yml
examples/modules/cron_example/cron_example.module
examples/modules/cron_example/cron_example.routing.yml
examples/modules/cron_example/config/install/cron_example.settings.yml
examples/modules/cron_example/config/schema/cron_example.schema.yml
examples/modules/cron_example/src/Form/CronExampleForm.php
examples/modules/cron_example/src/Plugin/QueueWorker/ReportWorkerBase.php
examples/modules/cron_example/src/Plugin/QueueWorker/ReportWorkerOne.php
examples/modules/cron_example/src/Plugin/QueueWorker/ReportWorkerTwo.php
examples/modules/cron_example/tests/src/Functional/CronExampleTest.php
examples/modules/dbtng_example/dbtng_example.info.yml
examples/modules/dbtng_example/dbtng_example.install
examples/modules/dbtng_example/dbtng_example.links.menu.yml
examples/modules/dbtng_example/dbtng_example.module
examples/modules/dbtng_example/dbtng_example.routing.yml
examples/modules/dbtng_example/dbtng_example.services.yml
examples/modules/dbtng_example/src/DbtngExampleRepository.php
examples/modules/dbtng_example/src/Controller/DbtngExampleController.php
examples/modules/dbtng_example/src/Form/DbtngExampleAddForm.php
examples/modules/dbtng_example/src/Form/DbtngExampleUpdateForm.php
examples/modules/dbtng_example/tests/src/Functional/DbtngExampleTest.php
examples/modules/dbtng_example/tests/src/Kernel/DbtngExampleRepositoryTest.php
examples/modules/email_example/email_example.info.yml
examples/modules/email_example/email_example.links.menu.yml
examples/modules/email_example/email_example.module
examples/modules/email_example/email_example.routing.yml
examples/modules/email_example/src/Form/EmailExampleGetFormPage.php
examples/modules/email_example/tests/src/Functional/EmailExampleTest.php
examples/modules/events_example/events_example.info.yml
examples/modules/events_example/events_example.links.menu.yml
examples/modules/events_example/events_example.module
examples/modules/events_example/events_example.routing.yml
examples/modules/events_example/events_example.services.yml
examples/modules/events_example/src/Event/IncidentEvents.php
examples/modules/events_example/src/Event/IncidentReportEvent.php
examples/modules/events_example/src/EventSubscriber/EventsExampleSubscriber.php
examples/modules/events_example/src/Form/EventsExampleForm.php
examples/modules/events_example/tests/src/Functional/EventsExampleTest.php
examples/modules/events_example/tests/src/Kernel/EventsExampleServiceTest.php
examples/modules/field_example/field_example.info.yml
examples/modules/field_example/field_example.js
examples/modules/field_example/field_example.libraries.yml
examples/modules/field_example/field_example.links.menu.yml
examples/modules/field_example/field_example.module
examples/modules/field_example/field_example.routing.yml
examples/modules/field_example/config/schema/field_example.schema.yml
examples/modules/field_example/src/Controller/FieldExampleController.php
examples/modules/field_example/src/Plugin/Field/FieldFormatter/ColorBackgroudFormatter.php
examples/modules/field_example/src/Plugin/Field/FieldFormatter/SimpleTextFormatter.php
examples/modules/field_example/src/Plugin/Field/FieldType/RgbItem.php
examples/modules/field_example/src/Plugin/Field/FieldWidget/ColorPickerWidget.php
examples/modules/field_example/src/Plugin/Field/FieldWidget/Text3Widget.php
examples/modules/field_example/src/Plugin/Field/FieldWidget/TextWidget.php
examples/modules/field_example/templates/description.html.twig
examples/modules/field_example/tests/src/Functional/ColorBackgroundFormatterTest.php
examples/modules/field_example/tests/src/Functional/ColorPickerWidgetTest.php
examples/modules/field_example/tests/src/Functional/FieldExampleBrowserTestBase.php
examples/modules/field_example/tests/src/Functional/FieldExampleMenuTest.php
examples/modules/field_example/tests/src/Functional/Text3WidgetTest.php
examples/modules/field_example/tests/src/Functional/TextWidgetTest.php
examples/modules/field_permission_example/field_permission_example.info.yml
examples/modules/field_permission_example/field_permission_example.libraries.yml
examples/modules/field_permission_example/field_permission_example.links.menu.yml
examples/modules/field_permission_example/field_permission_example.module
examples/modules/field_permission_example/field_permission_example.permissions.yml
examples/modules/field_permission_example/field_permission_example.routing.yml
examples/modules/field_permission_example/css/field_permission_example.css
examples/modules/field_permission_example/css/field-permission-description.css
examples/modules/field_permission_example/src/Controller/FieldPermissionExampleController.php
examples/modules/field_permission_example/src/Plugin/Field/FieldFormatter/SimpleTextFormatter.php
examples/modules/field_permission_example/src/Plugin/Field/FieldType/FieldNote.php
examples/modules/field_permission_example/src/Plugin/Field/FieldWidget/TextWidget.php
examples/modules/field_permission_example/templates/description.html.twig
examples/modules/field_permission_example/tests/src/Kernel/FieldNoteItemTest.php
examples/modules/file_example/file_example.info.yml
examples/modules/form_api_example/form_api_example.info.yml
examples/modules/form_api_example/form_api_example.links.menu.yml
examples/modules/form_api_example/form_api_example.module
examples/modules/form_api_example/form_api_example.routing.yml
examples/modules/form_api_example/src/Controller/Page.php
examples/modules/form_api_example/src/Form/AjaxAddMore.php
examples/modules/form_api_example/src/Form/AjaxColorForm.php
examples/modules/form_api_example/src/Form/BuildDemo.php
examples/modules/form_api_example/src/Form/ContainerDemo.php
examples/modules/form_api_example/src/Form/DemoBase.php
examples/modules/form_api_example/src/Form/InputDemo.php
examples/modules/form_api_example/src/Form/ModalForm.php
examples/modules/form_api_example/src/Form/MultistepForm.php
examples/modules/form_api_example/src/Form/SimpleForm.php
examples/modules/form_api_example/src/Form/StateDemo.php
examples/modules/form_api_example/src/Form/VerticalTabsDemo.php
examples/modules/form_api_example/src/Plugin/Block/SimpleFormBlock.php
examples/modules/form_api_example/templates/description.html.twig
examples/modules/form_api_example/tests/src/Functional/FapiExampleTest.php
examples/modules/form_api_example/tests/src/Functional/MultistepFormTest.php
examples/modules/form_api_example/tests/src/Functional/SimpleFormBlockTest.php
examples/modules/form_api_example/tests/src/FunctionalJavascript/AjaxColorFormTest.php
examples/modules/form_api_example/tests/src/FunctionalJavascript/ModalFormTest.php
examples/modules/form_api_example/tests/src/FunctionalJavascript/StateDemoTest.php
examples/modules/hooks_example/hooks_example.api.php
examples/modules/hooks_example/hooks_example.info.yml
examples/modules/hooks_example/hooks_example.links.menu.yml
examples/modules/hooks_example/hooks_example.module
examples/modules/hooks_example/hooks_example.routing.yml
examples/modules/hooks_example/src/Controller/HooksExampleController.php
examples/modules/hooks_example/templates/description.html.twig
examples/modules/hooks_example/tests/src/Functional/HooksExampleTest.php
examples/modules/js_example/js_example.info.yml
examples/modules/js_example/js_example.libraries.yml
examples/modules/js_example/js_example.links.menu.yml
examples/modules/js_example/js_example.module
examples/modules/js_example/js_example.routing.yml
examples/modules/js_example/css/accordion.css
examples/modules/js_example/css/jsweights.css
examples/modules/js_example/js/accordion.js
examples/modules/js_example/js/black.js
examples/modules/js_example/js/blue.js
examples/modules/js_example/js/brown.js
examples/modules/js_example/js/green.js
examples/modules/js_example/js/purple.js
examples/modules/js_example/js/red.js
examples/modules/js_example/src/Controller/JsExampleController.php
examples/modules/js_example/templates/accordion.html.twig
examples/modules/js_example/templates/description.html.twig
examples/modules/js_example/tests/src/Functional/JsExampleTest.php
examples/modules/menu_example/menu_example.info.yml
examples/modules/menu_example/menu_example.links.menu.yml
examples/modules/menu_example/menu_example.links.task.yml
examples/modules/menu_example/menu_example.module
examples/modules/menu_example/menu_example.permissions.yml
examples/modules/menu_example/menu_example.routing.yml
examples/modules/menu_example/menu_example.services.yml
examples/modules/menu_example/src/Access/RoleAccessCheck.php
examples/modules/menu_example/src/Controller/MenuExampleController.php
examples/modules/menu_example/src/Routing/MenuExampleDynamicRoutes.php
examples/modules/menu_example/src/Routing/RouteSubscriber.php
examples/modules/menu_example/templates/description.html.twig
examples/modules/menu_example/tests/src/Functional/MenuExampleTest.php
examples/modules/node_type_example/node_type_example.info.yml
examples/modules/node_type_example/node_type_example.install
examples/modules/node_type_example/node_type_example.links.menu.yml
examples/modules/node_type_example/node_type_example.module
examples/modules/node_type_example/node_type_example.routing.yml
examples/modules/node_type_example/config/install/core.entity_form_display.node.basic_content_type.default.yml
examples/modules/node_type_example/config/install/core.entity_form_display.node.locked_content_type.default.yml
examples/modules/node_type_example/config/install/core.entity_view_display.node.basic_content_type.default.yml
examples/modules/node_type_example/config/install/core.entity_view_display.node.locked_content_type.default.yml
examples/modules/node_type_example/config/install/field.field.node.basic_content_type.body.yml
examples/modules/node_type_example/config/install/field.field.node.locked_content_type.body.yml
examples/modules/node_type_example/config/install/node.type.basic_content_type.yml
examples/modules/node_type_example/config/install/node.type.locked_content_type.yml
examples/modules/node_type_example/src/Controller/NodeTypeExampleController.php
examples/modules/node_type_example/templates/description.html.twig
examples/modules/node_type_example/tests/src/Functional/NodeTypeExampleTest.php
examples/modules/page_example/page_example.info.yml
examples/modules/page_example/page_example.links.menu.yml
examples/modules/page_example/page_example.module
examples/modules/page_example/page_example.permissions.yml
examples/modules/page_example/page_example.routing.yml
examples/modules/page_example/src/Controller/PageExampleController.php
examples/modules/page_example/templates/description.html.twig
examples/modules/page_example/tests/src/Functional/PageExampleTest.php
examples/modules/pager_example/pager_example.info.yml
examples/modules/pager_example/pager_example.links.menu.yml
examples/modules/pager_example/pager_example.module
examples/modules/pager_example/pager_example.routing.yml
examples/modules/pager_example/src/Controller/PagerExamplePage.php
examples/modules/pager_example/templates/description.html.twig
examples/modules/pager_example/tests/src/Functional/PagerExampleTest.php
examples/modules/phpunit_example/phpunit_example.info.yml
examples/modules/phpunit_example/phpunit_example.links.menu.yml
examples/modules/phpunit_example/phpunit_example.module
examples/modules/phpunit_example/phpunit_example.routing.yml
examples/modules/phpunit_example/src/AddClass.php
examples/modules/phpunit_example/src/DisplayInfoInterface.php
examples/modules/phpunit_example/src/DisplayManager.php
examples/modules/phpunit_example/src/ProtectedPrivates.php
examples/modules/phpunit_example/src/Controller/PHPUnitExampleController.php
examples/modules/phpunit_example/templates/description.html.twig
examples/modules/phpunit_example/tests/src/Functional/PHPUnitExampleMenuTest.php
examples/modules/phpunit_example/tests/src/Unit/AddClassTest.php
examples/modules/phpunit_example/tests/src/Unit/DisplayManagerTest.php
examples/modules/phpunit_example/tests/src/Unit/ProtectedPrivatesTest.php
examples/modules/phpunit_example/tests/src/Unit/Subclasses/ProtectedPrivatesSubclass.php
examples/modules/plugin_type_example/plugin_type_example.api.php
examples/modules/plugin_type_example/plugin_type_example.info.yml
examples/modules/plugin_type_example/plugin_type_example.links.menu.yml
examples/modules/plugin_type_example/plugin_type_example.module
examples/modules/plugin_type_example/plugin_type_example.routing.yml
examples/modules/plugin_type_example/plugin_type_example.services.yml
examples/modules/plugin_type_example/src/SandwichBase.php
examples/modules/plugin_type_example/src/SandwichInterface.php
examples/modules/plugin_type_example/src/SandwichPluginManager.php
examples/modules/plugin_type_example/src/Annotation/Sandwich.php
examples/modules/plugin_type_example/src/Controller/PluginTypeExampleController.php
examples/modules/plugin_type_example/src/Plugin/Sandwich/ExampleHamSandwich.php
examples/modules/plugin_type_example/src/Plugin/Sandwich/ExampleMeatballSandwich.php
examples/modules/plugin_type_example/tests/src/Functional/PluginTypeExampleTest.php
examples/modules/queue_example/queue_example.info.yml
examples/modules/queue_example/queue_example.links.menu.yml
examples/modules/queue_example/queue_example.module
examples/modules/queue_example/queue_example.routing.yml
examples/modules/queue_example/src/Form/QueueExampleForm.php
examples/modules/queue_example/tests/src/Functional/QueueExampleTest.php
examples/modules/render_example/render_example.info.yml
examples/modules/render_example/render_example.libraries.yml
examples/modules/render_example/render_example.links.menu.yml
examples/modules/render_example/render_example.module
examples/modules/render_example/render_example.routing.yml
examples/modules/render_example/config/install/render_example.settings.yml
examples/modules/render_example/config/schema/render_example.schema.yml
examples/modules/render_example/css/render_example.css
examples/modules/render_example/src/Controller/RenderExampleController.php
examples/modules/render_example/src/Element/Marquee.php
examples/modules/render_example/src/Form/RenderExampleDemoForm.php
examples/modules/render_example/templates/description.html.twig
examples/modules/render_example/templates/render-array.html.twig
examples/modules/render_example/templates/render-example-add-div.html.twig
examples/modules/render_example/templates/render-example-marquee.html.twig
examples/modules/render_example/tests/src/Functional/RenderExampleMenuTest.php
examples/modules/render_example/tests/src/Functional/RenderExampleTest.php
examples/modules/rest_example/rest_example.info.yml
examples/modules/rest_example/rest_example.links.action.yml
examples/modules/rest_example/rest_example.links.menu.yml
examples/modules/rest_example/rest_example.module
examples/modules/rest_example/rest_example.routing.yml
examples/modules/rest_example/rest_example.services.yml
examples/modules/rest_example/config/install/node.type.rest_example_test.yml
examples/modules/rest_example/config/install/views.view.rest_service.yml
examples/modules/rest_example/src/RestExampleClientCalls.php
examples/modules/rest_example/src/Controller/RestExampleClientController.php
examples/modules/rest_example/src/Controller/RestExampleHelpController.php
examples/modules/rest_example/src/Form/RestExampleClientDelete.php
examples/modules/rest_example/src/Form/RestExampleClientEdit.php
examples/modules/rest_example/src/Form/RestExampleClientSettings.php
examples/modules/rest_example/templates/description.html.twig
examples/modules/rest_example/tests/src/Functional/RestExampleActionTest.php
examples/modules/rest_example/tests/src/Functional/RestExampleMenuTest.php
examples/modules/rest_example/tests/src/Functional/RestExampleSettingsTest.php
examples/modules/session_example/session_example.info.yml
examples/modules/session_example/session_example.links.menu.yml
examples/modules/session_example/session_example.links.task.yml
examples/modules/session_example/session_example.module
examples/modules/session_example/session_example.routing.yml
examples/modules/session_example/src/Controller/SessionExampleController.php
examples/modules/session_example/src/Form/SessionExampleForm.php
examples/modules/session_example/tests/src/Functional/SessionExampleTest.php
examples/modules/stream_wrapper_example/stream_wrapper_example.info.yml
examples/modules/stream_wrapper_example/stream_wrapper_example.links.menu.yml
examples/modules/stream_wrapper_example/stream_wrapper_example.module
examples/modules/stream_wrapper_example/stream_wrapper_example.routing.yml
examples/modules/stream_wrapper_example/stream_wrapper_example.services.yml
examples/modules/stream_wrapper_example/src/SessionHelper.php
examples/modules/stream_wrapper_example/src/Controller/StreamWrapperExampleController.php
examples/modules/stream_wrapper_example/src/PathProcessor/PathProcessorSessions.php
examples/modules/stream_wrapper_example/src/StreamWrapper/SessionStreamWrapper.php
examples/modules/stream_wrapper_example/templates/description.html.twig
examples/modules/stream_wrapper_example/tests/src/Functional/StreamWrapperExampleTest.php
examples/modules/stream_wrapper_example/tests/src/Kernel/StreamWrapperTest.php
examples/modules/stream_wrapper_example/tests/src/Traits/MockSessionTrait.php
examples/modules/stream_wrapper_example/tests/src/Unit/SessionHelperTest.php
examples/modules/tabledrag_example/tabledrag_example.info.yml
examples/modules/tabledrag_example/tabledrag_example.install
examples/modules/tabledrag_example/tabledrag_example.links.menu.yml
examples/modules/tabledrag_example/tabledrag_example.module
examples/modules/tabledrag_example/tabledrag_example.routing.yml
examples/modules/tabledrag_example/src/Fixtures.php
examples/modules/tabledrag_example/src/Controller/TableDragExampleController.php
examples/modules/tabledrag_example/src/Form/TableDragExampleNestedForm.php
examples/modules/tabledrag_example/src/Form/TableDragExampleResetForm.php
examples/modules/tabledrag_example/src/Form/TableDragExampleRootLeafForm.php
examples/modules/tabledrag_example/src/Form/TableDragExampleSimpleForm.php
examples/modules/tabledrag_example/templates/description.html.twig
examples/modules/tabledrag_example/tests/src/Functional/TabledragMenuTest.php
examples/modules/tablesort_example/tablesort_example.info.yml
examples/modules/tablesort_example/tablesort_example.install
examples/modules/tablesort_example/tablesort_example.links.menu.yml
examples/modules/tablesort_example/tablesort_example.module
examples/modules/tablesort_example/tablesort_example.routing.yml
examples/modules/tablesort_example/src/Controller/TableSortExampleController.php
examples/modules/tablesort_example/tests/src/Functional/TableSortExampleTest.php
examples/modules/testing_example/testing_example.info.yml
examples/modules/testing_example/testing_example.links.menu.yml
examples/modules/testing_example/testing_example.module
examples/modules/testing_example/testing_example.permissions.yml
examples/modules/testing_example/testing_example.routing.yml
examples/modules/testing_example/config/install/core.entity_form_display.node.testing_example.default.yml
examples/modules/testing_example/config/install/field.field.node.testing_example.body.yml
examples/modules/testing_example/config/install/node.type.testing_example.yml
examples/modules/testing_example/src/Controller/ContrivedController.php
examples/modules/testing_example/src/Controller/TestingExampleController.php
examples/modules/testing_example/templates/description.html.twig
examples/modules/testing_example/templates/simpletest.description.html.twig
examples/modules/testing_example/tests/modules/testing_example_test/testing_example_test.info.yml
examples/modules/testing_example/tests/modules/testing_example_test/testing_example_test.module
examples/modules/testing_example/tests/src/Functional/ExampleFunctionalTest.php
examples/modules/testing_example/tests/src/Functional/FrontPageLinkDependenciesTest.php
examples/modules/testing_example/tests/src/Functional/FrontPageLinkTest.php
examples/modules/testing_example/tests/src/Functional/SkeletonTest.php
examples/modules/testing_example/tests/src/Functional/TestingExampleMenuTest.php
examples/modules/testing_example/tests/src/Kernel/ExampleFixtureManagementTest.php
examples/modules/testing_example/tests/src/Unit/Controller/ContrivedControllerTest.php
examples/modules/theming_example/theming_example.info.yml
examples/modules/theming_example/theming_example.libraries.yml
examples/modules/theming_example/theming_example.module
examples/modules/theming_example/theming_example.routing.yml
examples/modules/theming_example/css/theming_example.css
examples/modules/theming_example/src/Controller/ThemingPageController.php
examples/modules/theming_example/src/Form/SelectForm.php
examples/modules/theming_example/src/Form/TextForm.php
examples/modules/theming_example/templates/theming-example-content-array.html.twig
examples/modules/theming_example/templates/theming-example-list.html.twig
examples/modules/theming_example/templates/theming-example-text-form.html.twig
examples/modules/theming_example/tests/src/Functional/ThemingExampleTest.php
examples/modules/tour_example/tour_example.info.yml
examples/modules/tour_example/tour_example.links.menu.yml
examples/modules/tour_example/tour_example.module
examples/modules/tour_example/tour_example.routing.yml
examples/modules/tour_example/config/install/tour.tour.tour-example.yml
examples/modules/tour_example/src/Controller/TourExampleController.php
examples/modules/tour_example/templates/description.html.twig
examples/modules/tour_example/tests/src/Functional/TourExampleTest.php
examples/src/Utility/DescriptionTemplateTrait.php
examples/tests/modules/examples_description_test/examples_description_test.info.yml
examples/tests/modules/examples_description_test/examples_description_test.routing.yml
examples/tests/modules/examples_description_test/src/Controller/SampleExampleController.php
examples/tests/modules/examples_description_test/templates/description.html.twig
examples/tests/src/Functional/ExamplesBrowserTestBase.php
examples/tests/src/Functional/ExamplesTest.php
examples/tests/src/Kernel/DescriptionTraitTest.php
examples/tests/src/Unit/RoutePathTest.php
examples/tests/src/Unit/YamlValidationTest.php
examples/vendor/autoload.php
examples/vendor/composer/autoload_classmap.php
examples/vendor/composer/autoload_namespaces.php
examples/vendor/composer/autoload_psr4.php
examples/vendor/composer/autoload_real.php
examples/vendor/composer/autoload_static.php
examples/vendor/composer/ClassLoader.php
examples/vendor/composer/LICENSE







demo_restapi/demo_restapi.info.yml
demo_restapi/config/install/rest.resource.bloglist_resource.yml
demo_restapi/config/install/rest.resource.create_blog.yml
demo_restapi/config/install/rest.resource.Demo_Postapi.yml
demo_restapi/config/install/rest.resource.demo_resource.yml
demo_restapi/src/Plugin/rest/resource/BlogListResource.php
demo_restapi/src/Plugin/rest/resource/CreateBlogResource.php
demo_restapi/src/Plugin/rest/resource/DemoDelete.php
demo_restapi/src/Plugin/rest/resource/DemoPatch.php
demo_restapi/src/Plugin/rest/resource/DemoPost.php
demo_restapi/src/Plugin/rest/resource/DemoResource.php
